:root {  
  --background-color: #f8f8fb;
  --navbar-color: #252945;
  --logo-bg: #7c5dfa;
  --auth-bg: #1e2139;
  --font-color: #141625;
  --dialog-bg: #fff

}
[data-theme="dark"] {
  --background-color:  #141625;
  --auth-bg: #fff;
  --font-color: #f8f8fb;
  --dialog-bg: #1e2139;

}
.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20%;
  min-height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
}
.content--container {
  padding-left: 6.4rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

